* {
    padding:0;
    margin:0;
}

body {
    background-image:url(../img/maingbg.png)
}

.clock {
  float:left;
  display:block;
  position:relative;
  width:    200px;
  height:   200px;
  margin: 20px;
}

.info {
  position:absolute;
  font-size:20px;
  text-align:center;
  margin-left:5px;
  margin-top:10px;
}

.text { 
  position:absolute;
  margin-top:45px;
  margin-left:42px;
  width:100px;
  height:100px;}

.val {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:47px;
    font-weight:bold;
    color:#FFF;
    text-align:center;
    line-height:50px;
    margin-top:15px;
    width:100px;
}

.type_seconds {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#ffdc50;
    width:100px;
    text-align:center;
    font-size:13px;
    line-height:20px;
    font-weight:bold;
    text-transform:uppercase;
}

label {
    color:#fff;
}

canvas {
    margin-top: 0px;
    margin-left: 0px;
    position:absolute;
}

.toggle {
  position:absolute;
  margin-top:240px;
  width:    70px;
  height:   20px;
}
